body,
span,
h1,
p {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);

  --body-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --clr-deco: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--body-bg);

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-card {
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 60%;
  padding: 1.7rem 2rem;
  border-radius: 10px;
}

.container-image {
  background-image: url("images/image-equilibrium.jpg");
  height: 19em;
  width: 19.2em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5em;
  position: relative;
  transition: ease-in-out 0.2s;
}

.container-image::after {
  position: absolute;
  display: block;
  top: 7.5em;
  left: 8em;
  content: url("images/icon-view.svg");
  opacity: 0;
  transition: ease-in-out 0.2s;
}

.container-image::before {
  position: absolute;
  content: " ";
  background-color: var(--clr-cyan);
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  transition: ease-in-out 0.2s;
}

.container-image:hover::after {
  opacity: 1;
  transition: ease-in-out 0.2s;
}

.container-image:hover::before {
  opacity: 0.6;
  transition: ease-in-out 0.2s;
}

.image {
  display: block;
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.content {
  width: 100%;
  text-align: left;
}

h1.product {
  font: 600 1.5rem/1.1 "Outfit", sans-serif;
  text-align: left;
  margin: 0.8em 0px;
  color: var(--clr-white);
  cursor: pointer;
}

p.text {
  font: 400 1em "Outfit", sans-serif;
  color: var(--clr-soft-blue);
  margin-block-end: 1em;
}

.info {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin: 2em 0;
  position: relative;
}

.price img,
.time img {
  display: inline;
  margin-right: 5px;
  vertical-align: sub;
}

span.price {
  font: 600 0.9em "Outfit", sans-serif;
  color: var(--clr-cyan);
}

span.time {
  font: 400 1em "Outfit", sans-serif;
  color: var(--clr-soft-blue);
}

.deco {
  display: block;
  height: 2px;
  width: 100%;
  background: var(--clr-deco);
  margin-block-end: 1em;
}

span.creator {
  font: 300 1em "Outfit", sans-serif;
  color: var(--clr-soft-blue);
}

.info-creator {
  display: flex;
  align-items: center;
}

.info-creator img {
  display: block;
  margin-right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: 2px solid var(--clr-white);
}

.creator a {
  color: var(--clr-white);
  cursor: pointer;
  font-weight: 400;
}

.creator a:hover,
h1:hover {
  color: var(--clr-cyan);
  transition: ease-in-out 0.2s;
}

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 0.75em;
  color: var(--clr-soft-blue);
}

.attribution a {
  color: var(--clr-cyan);
}

@media (max-width: 40rem) {
  footer {
    display: none;
  }
}
